@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

html,
body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 23px;
    font-weight: 100;
    line-height: 1.4em;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #222;
    color: #fff;
}

#header,
#content,
#footer {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

#header {
    font-weight: bold;
}

#content {
    background: #333;
}

strong,
bold,
b {
    font-weight: 600px;
}

a {
    color: #c682ee;
    position: relative;
    top: 0px;
    transition: 0.1s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #e2bff7;
    top: -2px;
    text-decoration: underline;
}

a[href*="//"]:after
{
    font-weight: 300;
    font-size: 0.65em;
    opacity: 0.25;
    top: 0px;
    transition: 0.1s ease-in-out;
}

a[href*="//"]:hover:after
{
    color: #e2bff7;
    top: -2px;
    opacity: 1;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 1.5em;
    margin-bottom: 0;
}
h2 {
    margin-top: 1.25em;
    margin-bottom: 0;
}

#header {
    margin-top: 15px;
    height: 182px;
    text-align: right;
    font-size: 30px;
    max-width: 870px;
    position: relative;
    width: calc(100% - 50px);
}

#header #name {
    text-align: left;
    width: calc(100% - 50px);
    position: relative;
    left: 10px;
    top: 130px;
}

#header #nav {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

#header a {
    color: #888;
    transition: 0.15s ease-in-out;
    text-decoration: none;
}

#header a:hover {
    color: #aaa;
    top: -3px;
}

#content {
    padding: 15px 20px 20px 20px;
    text-align: center;
    border: 5px solid #bbb;
    border-radius: 25px;
    margin-bottom: 50px;
}

#footer {
    max-width: 550px;
    text-align: center;
    padding-bottom: 80px;
}

.grid {
    overflow: hidden;
    /*margin-bottom: -0.5em;*/
    margin-top: 5px;
}

.grid > a:first-child > div {
    margin-top: 20px;
}

.grid > a > div {
    display: inline-block;
    overflow: hidden;
    width: 390px;
    height: 150px;
    margin-bottom: 10px;
    transition: opacity 0.1s ease-in-out;
}

.grid > a {
    text-decoration: none;
    display: inline-block;
}

.grid > a:hover > div {
    opacity: 0.5;
}

.grid > a > div > img {
    width: 388px;
    height: 100px;
    margin-bottom: 5px;
}
.grid > a > div > div {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    width: 100%;
    text-align: center;
}

.grid > a > div > div > span {
    color: #aaa;
}

.web10 {
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(web10.png);
    background-size: 200% 100%;
    bottom: 6px;
}

.web10#news {
    left: calc(50% - 372px);
}

.web10#rss {
    right: calc(50% - 372px);
    background-position: -100%;
}

#waiver {
    padding-top: 11px;
    color: #bbb;
    font-size: 0.8em;
    width: calc(100% - 10px);
    margin: 0 auto;
    font-size: 16px;
    line-height: 25px;
}

.sidepage {
    width: calc(100%-40px);
    max-width: 787px;
    padding: 25px;
    margin: 50px auto;
    line-height: 1.7em;
}

.sidepage h1 {
    text-align: left;
}

.sidepage input {
    font-family: monospace;
    font-weight: 100;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 4px;
    position: relative;
    top: -2px;
}

.sidepage img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

hr {
    border: none;
    border-bottom: 3px dashed #ddd;
    margin: 2em 0;
}

@media (max-width: 760px) {
    .web10 {
        display: none;
    }
}

@media (max-width: 880px) {
    #header #nav {
        width: 300px;
        text-align: right;
        top: 24px;
    }
    #header #nav span {
        opacity: 0;
        display: block;
        height: 0px;
    }
}

/* ------- Sections ------- */

section {
    padding: calc(6em + 5vw) 5vw 8vw 5vw;
    /* ! Everything below is needed ! */
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background: var(--bgcolor);
}

section:target {
    /* Show section */
    display: block;
}

section#home {
    /* Show #home by default */
    display: block;
}

section:target iframe {
    visibility: visible;
}
